.product-cart {
    display: flex;
    
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: space-around;
  }
  
  .product {
  width: calc(50% - 20px); /* Set a fixed width with 20px margin on each side */
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  text-align: center;
  box-sizing: border-box; /* Ensure padding and border are included in the width */
  height: 350px;
}
  
  .product img {
    max-width: 100%;
    height: 35%;
  }
  
  .cart {
    width: 80%;
   
  }
  
  .cart-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
  }
  
  .cart-item img {
    max-width: 80px;
    height: auto;
    margin-right: 10px;
  }
  
  .cart-item-details {
    flex-grow: 1;
  }