<h3>Welcome {{emailId}}!</h3>

<h1 align="center">Products</h1> <br/>


<div class="container">
    <div class="row">
      <div class="col-md-3" *ngFor="let product of products">
        <div class="card" style="width:300px;">
            <img class="card-img-top" [src]="product.image" alt="Card image" style="width:100%; margin-top: 5px;">
            <div class="card-body">
                <h4 class="card-title">{{product.name}}</h4>
                <p class="card-text">{{product.description}}</p>
                <p class="card-text"><b>Price: <s>$25000/-</s> ${{product.price}}/- </b></p>
                <p align="right">
                    <button class="btn btn-primary">AddToCart</button>
                </p>
            </div>
        </div>
      </div>
    </div>
  </div>
