<h3>Welcome {{emailId}}!</h3>
<div><h1 align="center">EMPLOYEE DATA</h1>
    <table class="table table-hover table-striped table-sm table-bordered" align="center">
        <thead>
            <tr align="center">
                <th>EMPLOYEE ID</th>
                <th>EMPLOYEE NAME</th>
                <th>SALARY</th>
                <th>GENDER</th>
                <th>DOJ</th>
                <th>COUNTRY</th>
                <th>EMAIL ID</th>
                <!-- <th>PASSWORD</th> -->
                <th>experience</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees" align="center">
       <td>{{employee.empId}}</td>
       <td>{{employee.empName | gender :employee.gender| uppercase}} </td>
       <td>{{employee.salary | currency:"INR"}}</td>
       <td>{{employee.gender | lowercase }}</td>
       <td>{{employee.doj | date : 'dd-MMM-yyyy'}}</td>
       <td>{{employee.country | uppercase}}</td>
       <td>{{employee.emailId}}</td>
       <!-- <td>{{employee.password}}</td> -->
       <td>{{employee.doj | exp}}</td>
     
        </tr>
    </tbody>
    </table>
    </div>

