<div>
    <h2>Register Form</h2>

    <form #registrationForm="ngForm" (ngSubmit)="registerSubmit()" novalidate>

        <table align="center">
            <tr>
                <td>EmpName</td>
                <td><input type="text" name="empName" [(ngModel)]="empName" required minlength="2" maxlength="30" />
                </td>
            </tr>
            <tr>
                <td>Salary</td>
                <td><input type="text" name="salary" [(ngModel)]="salary" required /></td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>
                    <select name="gender" [(ngModel)]="gender" required>
                        <option value="" disabled selected>Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Others">Others</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>DateOfJoin</td>
                <td><input type="date" name="doj" [(ngModel)]="doj" required /></td>
            </tr>

            <tr>
                <td>Country</td>
                <td>
                    <select name="country" [(ngModel)]="country" required>
                        <option value="" disabled selected>Select Country</option>
                        <option value="IND">INDIA</option>
                        <option value="USA">USA</option>
                        <option value="CAN">Canada</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>PhoneNumber</td>
                <td> <input type="text" name="phoneNumber" [(ngModel)]="phoneNumber" required pattern="^[6-9]\d{9}$"
                        minlength="10" maxlength="10" />
                    <div *ngIf="registrationForm.controls['phoneNumber'].hasError('required') && registrationForm.controls['phoneNumber'].touched"
                        style="color: red;">Please Enter Phone Number</div>
                    <div *ngIf="registrationForm.controls['phoneNumber'].hasError('pattern') && registrationForm.controls['phoneNumber'].touched"
                        style="color: red;">Please Enter a Valid Phone Number</div>
                </td>
            </tr>
            <tr>
                <td>EmailId</td>
                <td> <input type="text" name="emailId" [(ngModel)]="emailId" required
                        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" minlength="2" maxlength="30" />
                    <div *ngIf="registrationForm.controls['emailId'].hasError('required') && registrationForm.controls['emailId'].touched"
                        style="color: red;">Please Enter Email-Id</div>
                    <div *ngIf="registrationForm.controls['emailId'].hasError('pattern') && registrationForm.controls['emailId'].touched"
                        style="color: red;">Please Enter a Valid Email-Id</div>
                </td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password" [(ngModel)]="password" required
                        pattern="^(?=.[a-z])(?=.[A-Z])(?=.\d)(?=.[@$!%?&])[A-Za-z\d@$!%?&]{8,}$" minlength="8"
                        maxlength="8" />
                    <div *ngIf="registrationForm.controls['password'].hasError('required') && registrationForm.controls['password'].touched"
                        style="color: red;">Please Enter Password</div>
                    <div *ngIf="registrationForm.controls['password'].hasError('pattern') && registrationForm.controls['password'].touched"
                        style="color: red;">Please Enter a Valid Password (8 characters, 1 uppercase, 1 lowercase, 1
                        digit, 1 special character)</div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit" class="btn btn-primary">Register</button>
                </td>
            </tr>
        </table>
    </form>
    <div>
        <div *ngIf="registrationForm.controls['empName'].errors?.['required'] && registrationForm.controls['empName'].touched"
            style="color: red;">Please Enter Employee Name</div>
        <div *ngIf="registrationForm.controls['salary'].errors?.['required'] && registrationForm.controls['salary'].touched"
            style="color: red;">Please Enter Salary</div>
        <div *ngIf="registrationForm.controls['gender'].errors?.['required'] && registrationForm.controls['gender'].touched"
            style="color: red;">Please Select Gender</div>
        <div *ngIf="registrationForm.controls['doj'].errors?.['required'] && registrationForm.controls['doj'].touched"
            style="color: red;">Please Enter Date of Join</div>
        <div *ngIf="registrationForm.controls['country'].errors?.['required'] && registrationForm.controls['country'].touched"
            style="color: red;">Please Select Country</div>

        <div *ngIf="registrationForm.controls['empName'].errors?.['minlength'] && registrationForm.controls['empName'].touched"
            style="color: red;">Please Enter Atleast 2 Characters for Employee Name</div>
    </div>
</div>